* {
    margin:0px;
    box-sizing:border-box;
    padding:0px;
}

body{
    font-family: 'Fjalla One', Arial, 'sans-serif';
}

a{
    text-decoration: none;
    color:#FFFFFF;
}

.TicketButton{
    width: 160px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 30px;
    background-color: #26D6C0;
    display: inline-block;
    text-align: center;
    font-size: 20px;
}

main a:hover, section a:hover{
    background-color: #F9E22C;
    color: #f78400;
}

.yellow-bg{
    background-color: #F9E22C;
}

.white-bg{
    background-color: white;
}

.special-ff{
    font-family: 'Rubik Moonrocks', Arial, sans-serif;;
}

.centerFont{
    text-align: center;
}

.sectionsWidth{
    width: 70vw;
    max-width: 1000px;
    margin: auto;
}
/* Header */
#HeaderFormat{
    background-color: #f633a2;
    text-align: center;
}

li{
    display: inline-block;
    margin:10px 5px 10px 5px;
}

header a:hover{
    color: #F9E22C; 
    cursor: hand;
}
header a{
    font-size: 1.27em;
    font-weight:500;
}

header > div{
    height: fit-content;
    width: fit-content;
    margin: 0px auto;
}

/*main section*/

#feature{
    height: 100vh;
    width: auto;
    background:url("assets/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}

main > div{
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    height: fit-content;
    width: fit-content;
    margin:auto;
}

main h1{
    font-size: 100px;
    font-family: 'Rubik Moonrocks', Arial, sans-serif;
}

main a{
    margin-top: 50px;
}

/* section B*/

.sectionB{
    background-color: #EFEFEF;
    height: auto;
    color: #333333;
}

.sectionB h1{
    display: inline-block;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 5px;
}

.sectionB h2{
    font-size: 23px;
    font-weight: 100;
    margin-bottom: 50px;
}

table{
    background-color: white;
}
th, td{
    border:15px white solid;
    background-color: white;
    padding:7px;
}

.tableContent{
    width: 50vw;
    min-width: 670px;
    height: max-content;
    font-size:larger;
    font-weight:400;
}

.PinkCell{
    display: inline-block;
    background-color: #f633a2;
    color: white;
    font-size: 25px;
    text-align: center;
    width: 115px;
    height: fit-content;
    padding: 20px;
    margin: auto;
}

#spotify{
    margin-top: 50px;
    min-width: 1000px;
    padding-bottom: 50px;
}

/* section C*/

#sectionC{
    height: auto;
}

#sectionC h1{
    display: inline-block;
    font-size: 60px;
    color: #f633a2;
    margin-top: 50px;
    margin-bottom: 5px;
}
#sectionC h2{
    display: inline-block;
    font-size: 23px;
    font-weight: 100;
    color: #f633a2;
    margin-bottom: 50px;
}

#grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    color: #333333;
    padding-bottom: 50px;
}

.gridHeight{
    height: 400px;
}

#grid > div{
    border-radius: 10px;
}

#grid i{
    display: inline-block;
    font-size: 65px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#grid h3{
    font-size: 30px;
    margin-bottom: 15px;
}

#grid p{
    color:#f633a2;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 30px;
}
/*Footer*/

#footerFormat{
    background-color: black;
    text-align: center;
    color: white;
}

footer p{
    display: inline-block;
    margin-top: 20px;
}

footer li{
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 20px;
}

footer i{
    font-size: 22px;
}